@using ShopMoHinh.Models
@model List<Cart>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/shopMohinh.cshtml";
}

<div class="cart">
    <div class="container">
        <div class="cart-top-wrap">
            <div class="cart_top">
                <div class="cart_top-cart cart_top-item">
                    <i class="fa-solid fa-cart-plus"></i>
                </div>
                <div class="cart_top-address cart_top-item">
                    <i class="fa-solid fa-location-pin"></i>
                </div>
                <div class="cart_top-payment cart_top-item">
                    <i class="fa-brands fa-cc-amazon-pay"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="cart_content row">
            <!-- Cart left -->
            <div class="cart_content-left">
                <table>
                    <!-- Danh mục  -->
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th width="100px"></th>
                        <th >Xóa</th>
                    </tr>
                    <!-- Các sản phẩm -->
                    @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/@item.anhBia" alt="@item.tenSP">
                    </td>
                    <td>
                        <p>
                            @item.tenSP
                        </p>
                    </td>
                    @using (Html.BeginForm("Update", "Cart", new { @maSP = item.maSP }))
                    {
                        <td>
                            <input type="number" name="txtSoLuong" value="@item.soLuong" min="1">
                        </td>
                        <td>
                            <p> @String.Format("{0:0,0}", item.gia) <sup>đ</sup></p>
                        </td>
                        <td> <input style="width: 80%;" type="submit" value="Cập nhật" /> </td>
                        <td>
                            <span style="text-align: center; line-height: 18px;">@Html.ActionLink("X", "ExitCart", new { @maSp = item.maSP })</span>
                        </td>
                    }

                </tr>
                    }
                    
                </table>
            </div>
            <!-- Cart right -->
            <div class="cart_content-right">
                
                <table>
                    <tr>
                        <th colspan="2">Tổng tiền giỏ hàng</th>
                    </tr>
                    <tr>
                        <td>TỔNG SẢN PHẨM</td>
                        <td>@ViewBag.tongsl</td>
                    </tr>
                    <tr>
                        <td>TỔNG TIỀN HÀNG</td>
                        <td>
                            <p>@String.Format("{0:0,0}", ViewBag.tongtien) <sup>đ</sup></p>
                        </td>
                    </tr>
                    <tr>
                        <td>TẠM TÍNH</td>
                        <td><p style="color: black; font-weight: bold">@String.Format("{0:0,0}", ViewBag.tongtien) <sup>đ</sup></p></td>
                    </tr>
                </table>
            
                

                <div class="cart_content-right-text">
                    <p>
                        Bạn sẽ được miễn phí ship khi đơn hàng có tổng giá trị trên 2.000.000 <sup>đ</sup>
                    </p>
                    <p style="color: red; font-weight:bold">Mua thêm 131.000đ để được miễn phí ship</p>
                </div>

                <div class="cart_content-right-button">
                    <a href="@Url.Action("Index", "Home")"><button>TIẾP TỤC MUA SẮM</button></a>
                    <a href="@Url.Action("DonHang","Cart")"><button> ĐƠN HÀNG</button></a>
                </div>

                <div class="cart_content-right-dangnhap">
                    <p>TÀI KHOẢN IVY</p>
                    <br>
                    <p>Hãy <a href="#">Đăng nhập</a> tài khoản để tích điểm thành viên</p>
                </div>
            </div>
        </div>
    </div>
</div>

